{
  "db": {
    "name": "dbname",
    "user": "username",
    "password": "user password",
    "host": "127.0.0.1",
    "port": null
  },
  "log": {
    "request.log": "./logs/request.log",
    "error.log": "./logs/error.log"
  },
}